@import url("https://fonts.cdnfonts.com/css/helvetica-255");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-light-yellow: #fbf9ea;

  --font-poppins: "Poppins", sans-serif;

  --breakpoint-ultrawide: 1920px;
  --breakpoint-wide: 1440px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Helvetica", sans-serif;
}

* {
  cursor: none;
}

html,
body {
  @apply bg-black dark:bg-black;
  /* @apply dark:bg-light-yellow bg-light-yellow; */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  /* smooth text */
  /* -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
  overflow-y: scroll;
}
