@import url("https://fonts.cdnfonts.com/css/helvetica-255");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-light-yellow: #fbf9ea;

  --font-poppins: "Poppins", sans-serif;
  --font-libre: "Libre Baskerville", sans-serif;

  --breakpoint-ultrawide: 1920px;
  --breakpoint-wide: 1440px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Helvetica", sans-serif;
}

* {
  cursor: none;
  box-sizing: border-box;
}

html,
body {
  @apply bg-black dark:bg-black;
  /* @apply dark:bg-light-yellow bg-light-yellow; */

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  /* smooth text */
  /* -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* width: 100dvh; */
  /* max-width: 100dvh; */
}
