.hoverable-item {
  transition: all 0.25s ease-in-out;
  color: var(--color-gray-700);
}

.hover-effect {
  color: var(--color-gray-200);
}

.hover-effect > div {
  transform: scale(2);
  background: var(--color-gray-800);
}

.unfocused {
  opacity: 0.3;
}

@media (max-width: 800px) {
  .hoverable-item {
    transition: all 0.25s ease-in-out;
    color: var(--color-gray-200);
  }
}
